<h1>Restaurants#index</h1>
<p>Find me in app/views/restaurants/index.html.erb</p>
<% @restaurants.each do |restaurant| %>
<h1><%= link_to restaurant.name, restaurant_path(restaurant) %></h1>
<h3><%= restaurant.address %></h3>
<h3><%= restaurant.phone_number %></h3>
<h3><%= restaurant.category %></h3>
<br><br>
<% end %>
